.hero

	.logo
		img(src="logo.png")
		h1 Medicinal

.info
	.A4

		h2 מה זה פה?

		p מדיסינאל - או בעברית: רפואי - הוא מיזם אישי, פרוייקט אינטרנטי קטן-מידה, שמטרתו להטיב עם מטופלי הקנאביס בישראל בעזרת הנגשת המידע מהשטח. בתור התחלה, היינו רוצים להקים אתר המרכז מידע לגבי כל ספק וזן קנאביס בישראל. הרשמו לעידכונים ונשתמע בקרוב.

		h2 ומה יהיה פה?

		ul
			li עמודי 'פרופיל' לכל ספק וזן קנאביס.
			li פורום מודרני עם מומחים מתארחים.
			li מדריכים לכל מה שמטופלי קנאביס צריכים לדעת.

		h2 ומתי יעלה האתר?

		p.flat הוסיפו את כתובת המייל לרשימת התפוצה, ותשמעו מאיתנו ראשונים.
		p.flat בלי שטויות, לא יותר ממייל אחד בחודש.

		.newsletter

			input(
			name="email-for-newsletter"
			type="email"
			placeholder="hello@example.com"
			)

			button.dark אחלה!

.contact
	.A4

		h2 יצירת קשר

		p
			|מטופלי קנאביס!&nbsp;
			b שימו לב&nbsp;
			|- בשלב זה אנחנו ערוכים לבנייה של פלטפורמה ספציפית מאוד, אבל בכוונתנו להמשיך וליצור פתרונות עבורכם. אנחנו מקווים - לשמוע גם מכם, וגם על הניסיון שלכם עם קנאביס רפואי בישראל, בחירת הזן המתאים, ונפלאות נבכי הבירוקרטיה.

		textarea

		button.bright תודה!