.hero

	.logo
		img(src="https://s3.eu-central-1.amazonaws.com/medicinal/logo.png", alt="הלוגו של מדיסינאל")
		h1 Medicinal

.info
	.A4

		h2 מה זה פה?

		p מדיסינאל - או בעברית: רפואי - הוא מיזם אישי, פרוייקט אינטרנטי קטן-מידה, שמטרתו להטיב עם מטופלי הקנאביס בישראל בעזרת הנגשת המידע מהשטח. בתור התחלה, היינו רוצים להקים אתר המרכז מידע לגבי כל ספק וזן קנאביס בישראל. הרשמו לעידכונים ונשתמע בקרוב.

		h2 ומה יהיה פה?

		ul
			li עמודי 'פרופיל' לכל ספק וזן קנאביס.
			li פורום מודרני עם מומחים מתארחים.
			li מדריכים לכל מה שמטופלי קנאביס צריכים לדעת.

		h2 ומתי יעלה האתר?

		p.flat הוסיפו את כתובת המייל לרשימת התפוצה, ותשמעו מאיתנו ראשונים.
		p.flat בלי שטויות, לא יותר ממייל אחד בחודש.

		.newsletter

			input(
			name="email-for-newsletter"
			type="email"
			placeholder="hello@example.com"
			)

			button.dark אחלה!

.contact
	.A4

		h2 יצירת קשר

		p
			|מטופלי קנאביס!&nbsp;
			b שימו לב&nbsp;
			|- בשלב זה אנחנו ערוכים לבנייה של פלטפורמה ספציפית מאוד, אבל בכוונתנו להמשיך וליצור פתרונות עבורכם. אנחנו מקווים - לשמוע גם מכם, וגם על הניסיון שלכם עם קנאביס רפואי בישראל, בחירת הזן המתאים, ונפלאות נבכי הבירוקרטיה.

		p וכמובן, אם תרצו שנחזור אליכם בנוגע לפנייה זו - דאגו לצרף את כתובת המייל או מס' הטלפון שבעזרתם נוכל ליצור איתכם קשר.

		textarea

		button.bright תודה!

		.sharing-options

			h3 שתפו חבריכם

			ul.sharer
				li(platform="facebook")
					img(src="https://s3.eu-central-1.amazonaws.com/medicinal/social/facebook.png")
				li(platform="twitter")
					img(src="https://s3.eu-central-1.amazonaws.com/medicinal/social/twitter.png")