button, button:focus
	border-color: transparent

button
	cursor: pointer
	border-radius: 3px
	background-color: transparent
	border-color: transparent

	&.bright
		color: $main
		&:hover
			background-color: $main
			color: white

	&.dark
		color: white
		&:hover
			background-color: $main-shaded
			color: $main