@font-face {
	font-family: 'david_clm';
	src: url('https://s3.eu-central-1.amazonaws.com/medicinal/fonts/davidclm-medium-webfont.eot');
	src: url('https://s3.eu-central-1.amazonaws.com/medicinal/fonts/davidclm-medium-webfont.eot?#iefix') format('embedded-opentype'),
	url('https://s3.eu-central-1.amazonaws.com/medicinal/fonts/davidclm-medium-webfont.woff') format('woff'),
	url('https://s3.eu-central-1.amazonaws.com/medicinal/fonts/davidclm-medium-webfont.ttf') format('truetype'),
	url('https://s3.eu-central-1.amazonaws.com/medicinal/fonts/davidclm-medium-webfont.svg#david_clmmedium') format('svg');
	font-weight: normal;
	font-style: normal;
}

body, input, button, textarea {
	font-family : 'david_clm', serif;
}

body {
	letter-spacing : 0.06em;
	font-size      : 1.1em;
}