body {
  background-color: #fcfcf2;
  margin: 0;
  direction: rtl; }

ul, ol {
  padding-right: 1em; }

input, input:focus,
button, button:focus,
textarea, textarea:focus {
  outline: 0;
  border: 1px solid #cbcbcb;
  padding: 0.5em 1em;
  font-size: 1.1em; }

input, textarea {
  box-sizing: border-box; }

p.flat {
  margin: 0; }

.A4 {
  max-width: 40rem;
  margin: auto;
  padding: 1em 2em; }
  @media (min-width: 450px) {
    .A4 {
      padding: 1.5em 3em; } }

.hero {
  position: relative;
  height: 20em;
  color: #61c44f;
  text-align: center; }
  @media (min-width: 650px) {
    .hero {
      height: 80vh; } }
  .hero .logo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 15em;
    max-height: 15em;
    margin: auto;
    padding-top: 2em; }
  .hero img {
    border-radius: 100%; }

.info {
  background-color: #61c44f;
  color: white; }
  .info h2:not(:first-of-type) {
    margin: 2em 0 1em; }
  .info li {
    margin: 0.5em 0; }

.newsletter {
  margin: 2em 0 1em;
  text-align: center; }
  .newsletter:after {
    content: "";
    display: table;
    clear: both; }
  .newsletter input {
    box-sizing: border-box;
    width: 100%;
    text-align: center; }
  .newsletter button {
    float: left;
    margin-top: 1em; }
  @media (min-width: 650px) {
    .newsletter input, .newsletter button {
      margin: 0.2em; }
    .newsletter input {
      width: 20em; }
    .newsletter button {
      float: none; } }

.contact {
  padding-bottom: 2em; }
  .contact:after {
    content: "";
    display: table;
    clear: both; }
  .contact textarea {
    resize: vertical;
    width: 100%;
    min-height: 15em;
    margin-top: 2em; }
  .contact button {
    float: left;
    margin-top: 1em; }
