title מדיסינאל - הזנים, הספקים והדיונים כולם - באתר אחד.
meta(name="description" content="מדיסינאל - או בעברית: רפואי - הוא מיזם אישי, פרוייקט אינטרנטי קטן-מידה, שמטרתו להטיב עם מטופלי הקנאביס בישראל בעזרת הנגשת המידע מהשטח. בתור התחלה, היינו רוצים להקים אתר המרכז מידע לגבי כל ספק וזן קנאביס בישראל. הרשמו לעידכונים ונשתמע בקרוב.")

// Bing Webmasters verification
meta(name="msvalidate.01" content="66210C1BD52CB9DFEAF89E92C2D0C35C")

// Open Graph
meta(property="og:site_name" content="Medicinal")
meta(property="og:locale" content="he_IL")
meta(property="og:title" content="מדיסינאל - הזנים, הספקים והדיונים כולם - באתר אחד.")
meta(property="og:type" content="website")
meta(property="og:url" content="http://www.medicinal.co.il")
meta(property="og:image" content="https://s3.eu-central-1.amazonaws.com/medicinal/logo.png")
meta(property="og:description" content="מדיסינאל - או בעברית: רפואי - הוא מיזם אישי, פרוייקט אינטרנטי קטן-מידה, שמטרתו להטיב עם מטופלי הקנאביס בישראל בעזרת הנגשת המידע מהשטח. בתור התחלה, היינו רוצים להקים אתר המרכז מידע לגבי כל ספק וזן קנאביס בישראל. הרשמו לעידכונים ונשתמע בקרוב.")

// Twitter Cards
meta(name="twitter:card" content="summary")
meta(name="twitter:title" content="מדיסינאל - הזנים, הספקים והדיונים כולם - באתר אחד.")
meta(name="twitter:description" content="מדיסינאל - או בעברית: רפואי - הוא מיזם אישי, פרוייקט אינטרנטי קטן-מידה, שמטרתו להטיב עם מטופלי הקנאביס בישראל בעזרת הנגשת המידע מהשטח. בתור התחלה, היינו רוצים להקים אתר המרכז מידע לגבי כל ספק וזן קנאביס בישראל. הרשמו לעידכונים ונשתמע בקרוב.")
meta(name="twitter:image" content="https://s3.eu-central-1.amazonaws.com/medicinal/logo.png")
meta(name="twitter:creator" content="stavgeffen")